.wrapper {
  max-width: 1280px;
  margin: auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.header {
  width: 100%;
}
.header-container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 40px;
  background-color: #18a5bc;
}
.header-container-box {
  display: -ms-flexbox;
  display: flex;
}
.header-list, .options-list {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
}
.header-list__item, .options-list__item {
  display: block;
  height: 100%;
}
.options-list__item-link, .header-list__item-link, .header-nav__span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #fff !important;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none !important;
  transition: background-color 0.3s;
  font-weight: 600;
  box-sizing: border-box;
}
.options-list__item-link:hover, .header-list__item-link:hover, .header-nav__span:hover {
  background-color: #2ccae4;
}
.options-list__item-link:hover .options-list__item-img, .header-list__item-link:hover .options-list__item-img, .header-nav__span:hover .options-list__item-img {
  opacity: 1;
}
.options-list__item-img {
  display: block;
  width: 20px;
  opacity: 0.6;
  margin-right: 5px;
  transition: opacity 0.3s;
}
.header-button__icon {
  width: 20px;
  display: block;
}
.header-button {
  height: 100%;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 10px;
  display: none;
}
.header-nav__span {
  display: none;
}
.header-container-nav-visible {
  display: block !important;
}
.header-list__item-link-active {
  background-color: #2ccae4;
}
.oprion-list__item-link-enter {
  background-color: #002d42;
}
.oprion-list__item-link-enter:hover {
  background-color: #004b6e;
}
@media (max-width: 800px) {
  .header-button {
    display: -ms-flexbox;
    display: flex;
    background-color: #2ccae4;
    margin-left: 2px;
  }
  .header-container-nav {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #18a5bc;
    height: auto;
    width: 100%;
    z-index: 10;
  }
  .header-list {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .header-container-box {
    position: relative;
    min-width: 232px;
  }
  .header-nav__span {
    display: -ms-flexbox;
    display: flex;
  }
  .header-list__item-link-active {
    display: none;
  }
  .header-nav__span {
    width: 100%;
    background-color: #2ccae4;
  }
  .options-list__item:first-child .options-list__item-link {
    background-color: #2ccae4;
  }
  .options-list__item:first-child .options-list__item-img {
    margin-right: 0;
    opacity: 1;
  }
}
@media (max-width: 800px) {
  .options-list__item-text-hidden {
    display: none;
  }
  .options-list__item-link, .header-list__item-link, .header-nav__span {
    font-size: 0.7em;
    padding: 0 10px;
  }
  .header-container-box {
    min-width: 195px;
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  background: url("http://daler.ru/pictures/1/2560x1600/Kafe-nad-morem-12103.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.main-container {
  width: 100%;
}
.main {
  width: 100%;
  background-color: #daecf3;
}
.find {
  display: block;
  width: 100%;
  height: 100%;
}
.find-block {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 10px;
}
.find-in {
  margin-right: 20px;
  width: 100%;
  max-width: 70%;
}
.find-out {
  width: 100%;
  max-width: 250px;
}
.find-in__multi-cont {
  display: -ms-flexbox;
  display: flex;
}
.find-in__multi-cont__box {
  width: 100%;
  border-radius: 3px;
  background: url(../img/calendar.svg) #fff;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 12px;
  position: relative;
  height: 40px;
}
.find-in__multi-cont__box:first-child:after {
  content: "-";
  top: 8px;
  right: 0;
  z-index: 2;
  position: absolute;
  display: none;
}
.find-in__multi-cont .find-in__multi-cont__box:first-child .date-input {
  border-right: none !important;
  border-radius: 3px 0 0 3px;
  background-color: rgba(255,255,255,0.004);
}
.find-in__multi-cont .find-in__multi-cont__box:last-child .date-input {
  border-left: none !important;
  border-radius: 0 3px 3px 0;
  background-color: rgba(255,255,255,0.004);
}
.find-in-box:first-child {
  margin-right: 20px;
}
.find-in-part {
  display: -ms-flexbox;
  display: flex;
}
.find-in__text, .find-out__text, .find-more__text, .find-in-box {
  display: block;
  width: 100%;
}
.find-in__input, .find-in__select-box, .find-out__select, .find-more__select, .find-in__select, find-in__select-box {
  width: 100%;
  display: block;
  height: 40px;
}
.find-in__input, .find-out__select, .find-more__select, .find-in__select {
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #aaa !important;
  padding: 6px 10px !important;
  background-color: rgba(255,255,255,0.003);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  height: 100%;
}
.find-in__input:focus, .find-out__select:focus, .find-more__select:focus, .find-in__select:focus {
  border: 1px solid #aaa;
}
.date-input {
  padding: 6px 10px !important;
  background-color: #fff;
}
.find-out__select-box, .find-in__select-box, .find-more__select-box {
  background: url(../img/down-arrow-black.svg) #fff;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 14px;
  border-radius: 3px;
}
.find-in__text, .find-out__text, .find-more__text {
  text-transform: uppercase;
  font-weight: 600;
  color: #888;
  margin-top: 10px;
  margin-bottom: 5px;
}
.find-in__input::-webkit-input-placeholder {
  font-style: italic;
  color: #ccc;
}
.find-in__input:-ms-input-placeholder {
  font-style: italic;
  color: #ccc;
}
.find-in__input::placeholder {
  font-style: italic;
  color: #ccc;
}
.find-out-more {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.find-out-more__img {
  display: block;
  height: 12px;
  margin-left: 5px;
  margin-top: 5px;
}
.find-out-more__text {
  color: #303030;
  font-weight: 600;
  font-size: 0.8em;
}
.find-out__button {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  padding: 12px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  color: #fff;
  letter-spacing: 0.07em;
  margin-top: 30px;
  background-color: #fe424d;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Open Sans', sans-serif;
}
.find-out__button:hover {
  background-color: #fe0211;
}
.find-more-container {
  display: none;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 0;
  border-top: 1px solid #aaa;
}
.find-more {
  display: -ms-flexbox;
  display: flex;
}
.find-more-box {
  width: 100%;
  margin-right: 20px;
}
.find-more-box:last-child {
  margin-right: 0;
}
.autocomplete {
  position: relative;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #aaa;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
}
.autocomplete-list__item {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}
@media (max-width: 660px) {
  .autocomplete-list__item {
    font-size: 0.8em;
  }
  .find-more {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .find-in__text, .find-out__text, .find-more__text {
    font-size: 0.8em;
  }
  .date-input, .find-in__input, .find-out__select, .find-more__select, .find-in__select {
    font-size: 0.8em !important;
  }
  .find-in__input, .find-in__select-box, .find-out__select, .find-more__select, .find-in__select, find-in__select-box {
    height: 35px;
  }
  .find-in__multi-cont__box:first-child:after {
    display: block;
    top: 8px;
  }
  .find-in__multi-cont__box {
    height: 35px;
    background-position: calc(100% - 10px) 9px !important;
  }
  .find-in, .find-out {
    max-width: 100%;
  }
  .find-block {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .find-out__select-box, .find-in__select-box, .find-more__select-box {
    background-position: calc(100% -10px) 12px;
  }
}
